<div class="contact_me {{section}} row" ng-class="{'animate_contact_me_show' : showContactMe , 'animate_contact_me_hide' : !showContactMe}">
    <div class="details small-8 left">
        <div class="me"></div>
        <p>{Ben mansour Hatem}</p>
        <p>Dévéloppeur web sénior</p>
        <ul>
            <li><a href="#"><i class="icon_linkedin"></i></a></li>
            <li><a href="#"><i class="icon_twitter"></i></a></li>
            <li><a href="#"><i class="icon_viadeo"></i></a></li>
            <li><a href="#"><i class="icon_cv"></i></a></li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <i class="btn_animation btn_me small-1 left" ng-click=" $parent.showContactMe = !$parent.showContactMe">@</i>

</div>