<section class="loading" ng-class="{'close-loading' : loading}">
    <div class="logo">
        <img src="assets/images/logo-mobile.png" class="for-only-mobile" alt="ben mansour hatem">
        <img src="assets/images/logo-large.png" class=" for-mobile-up" alt=""></div>
    <div class="icon-loading">
        <div class="round home"></div>
        <div class="round about"></div>
        <div class="round expertise"></div>
        <div class="round reference"></div>
        <div class="round contact"></div>
    </div>
</section>